<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/endGame/styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>English Challenge</title>
</head>
<body>
        <div class="containerText">
            {% if noQuestion %}
                <h1 id="textoResult">You answered everything correctly!</h1>
            {% else %}
                <h1 id="textoResult">Congratulations! This is your result:</h1>
            {% endif %}
            <h1 id="texto">
                Score<br>
                {% if 10 > score: %}
                    0{{score}}
                {% else: %}
                    {{score}}
                {% endif %}
            </h1>
        </div>

        <div class="containerButton">    
            <a href="{{url_for('homePage')}}" class="botao">Home</a>
        </div>
</body>
</html>